<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <a class="post" href="/post/{{id}}">
      <div class="title">
        <p>{{post.title}}</p>
        <p>{{format_date post.created_at}</p>
      </div>
    </a>
  </li>
  {{/each}}
</ol>